
.movie-list {
    display: grid;
    grid-column-gap: 5rem;
    grid-row-gap: 5rem;
    margin: 20px 40px 20px;

  }
  @media (min-width: 600px) {
    .movie-list { grid-template-columns: repeat(2, 1fr); }
  }

  @media (min-width: 900px) {
    .movie-list { grid-template-columns: repeat(3, 1fr); }
  }
.movie-list .card { 
    transition: all 0.3s ease;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 10px 70px rgba(0, 0, 0, 0.15); 
    width: 350px;
    height: 350px;
    position: relative;
    top: 50%;
    left: 43.5%;
    transform: translate(-50%, -50%);
}  
.card-header{
    height: 50%;
    width: 100%;
    padding: 0px;
    overflow: hidden; 
  } 
  .header-img{
    height: 100%;
    width: 100%;
    background-size: 100%;
    border-radius: inherit;
    transition: all ease-in-out .4s;
  }
  .card:hover .header-img{
    transform: scale(1.25) rotate(2deg);
  }
  
  .icon {
    float: right;
    font-size: 1px;
    line-height: 9px;
    padding: 5px;
  }
  
  .card-title h3 {
    font-size: 1px;
    line-height: 5px;
    padding: 0px;
  }
  
  .card .info {
    display: flex;
    justify-content: space-around;
    gap: 20px;

  }
  .card p{
    font-size: 0.9rem;
    display: block;
  }
  .card .btn {
    padding: 10px 20px;
    position: absolute;
    width: 40%;
    transform: translate(-50%, 0%);
    border: 1px solid turquoise;
    border-radius: 100px;
    text-align: center;
    transition: all ease-in-out .2s;
    cursor: pointer;
  }
  .card .btn:hover {
      background: turquoise;
      color: #fff;
    }
    .card .link{
    color: #000;
    text-decoration: none !important;
  }


