.navbar{
    background: #56bbc2;
    padding: 20px;
    color: #fff;
}
.navbar nav{
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0px auto;
}
.navbar a.brand{
    margin-right: auto;
    color: #fff;
    text-decoration: none;
}
