.create {
    color: #555;
    padding: 20px;
    max-width: 480px;
    margin: 60px auto;
    border: 2px solid hsl(174, 72%, 56%);
    border-radius: 15px 50px;
  }
  .create label span {
    display: block;
    margin: 30px 0 30px;
  }
  .create input[type='text']{
    padding: 12px 20px;
    margin: 2px 5px;
    box-sizing: border-box;
    /* margin-top: 10px; */
    font-size: 0.8em;
    width: 400px;

  }
  .create select{
    padding: 12px 20px;
    font-size: 100px;
    font-weight: bold;
    margin: 2px 0;
    box-sizing: border-box;
    font-size: 0.8em;
    width: 400px;

  }
  .create p {
    margin-top: 10px;
    font-size: 0.8em;
  }
  .create button {
    display: block;
    width: 200px;
    font-size: 1em;
    color: #fff;
    padding: 8px 20px;
    border: 1px solid hsl(173, 58%, 55%);
     border-radius: 100px;
    background-color: hsl(173, 63%, 59%);
    cursor: pointer;
    text-decoration: none;
    margin: 20px auto;
  }
  .create button:hover {
    background: turquoise;
    color: #fff;
  }
  
