.singleMovie {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3px;
}

.header-img{
    height: 300px;
    width: 80%;
    background-size: 100%;
    border-radius: inherit;
    transition: all ease-in-out .4s;
  }
 .header-img:hover{
    transform: scale(1.25) rotate(2deg);
  }
  .scard{
    width: 50%;
    height: auto;
    color: #555;
    padding: 10px 90px;
    max-width: 500px;
    margin: 5px auto;
    border: 2px solid hsl(174, 72%, 56%);
    border-radius: 15px 50px;

  }
  .scard1 div {
    display: flex;
    justify-content: space-around;
    gap: 30px;
  }
  .calculate {
    width: 50%;
    height: auto;
    color: #555;
    padding: 10px 90px;
    max-width: 500px;
    margin:  5px auto;
    border: 2px solid hsl(174, 72%, 56%);
    border-radius: 15px 50px;
  }
  .calculate label span {
    display: block;
    margin: 30px 0 10px;
  }
 .calculate input{
    padding: 12px ;
    margin: 2px 0;
    box-sizing: border-box;
    margin-top: 10px;
    font-size: 1em;
    width: 250px;
  } 
  .calculate input[type='text']{
    padding: 12px 20px;
    margin: 2px 0;
    box-sizing: border-box;
    /* margin-top: 10px; */
    font-size: 0.8em;
    width: 400px;

  }
  .calculate .cal-btn {
    display: block;
    width: 200px;
    font-size: 1em;
    color: #fff;
    padding: 8px 20px;
    border: 1px solid hsl(173, 58%, 55%);
     border-radius: 100px;
    background-color: hsl(173, 63%, 59%);
    cursor: pointer;
    text-decoration: none;
    margin: 20px auto;
  }
  .calculate .cal-btn:hover {
    background: turquoise;
    color: #fff;
  }
  
