.login {
    color: #555;
    padding: 20px;
    max-width: 480px;
    margin: 60px auto;
    border: 2px solid hsl(174, 72%, 56%);
    border-radius: 15px 50px;
  }
  
  .login label {
    display: block;
    margin: 30px auto;
  }
  .login span {
    display: block;
    /* float: left; */
    margin: 10px 0 5px;
  }
  .login input {
    padding: 8px 6px;
    font-size: 1em;
    color: #777;
    width: 60%;
  }
  .login button {
    display: block;
    width: 200px;
    font-size: 1em;
    color: #fff;
    padding: 8px 20px;
    border: 1px solid hsl(173, 58%, 55%);
     border-radius: 100px;
    background-color: hsl(173, 63%, 59%);
    cursor: pointer;
    text-decoration: none;
    margin: 20px auto;
  }
  .login button:hover {
    background: turquoise;
    color: #fff;
  }
